# Core web framework
Flask
flask-cors
Werkzeug

# Environment variables
python-dotenv

# ML / Deep Learning
tensorflow
numpy

# Image processing
Pillow
opencv-python
matplotlib

# Utilities
requests

owlready2